.top-bar {
    display: flex;
    align-items: center;
    justify-content: center;

}

.menu-list{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 10px;
    width: 50%;
    border-radius: 25px;
    background: rgba(255, 255, 255, 0.109);     
    backdrop-filter: blur(1px);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.menu-item{
    width: 25%;
}

.menu-item a {
    color: rgb(88, 86, 86);
}

.profile-info-container{
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.profile-pic-container {
  border-radius: 50%;
  width: 100px;
  height: 100px;
  overflow: hidden;
  margin: 10px auto 0 auto;
}

.profile-pic {
  width: 100%;
  height: auto;
  display: block;
}

.username {
    padding: 10px;
    width: 50%;
    margin: 0 auto;
}
